table { 
    table-layout: auto;
    grid-column: 1 / 5;
    grid-row: 2 / 3;
    border-spacing: 1; 
    border-collapse: collapse; 
    background:white;
    border-radius:6px;
    overflow:hidden;
    max-width:800px; 
    width:100%;
    margin:0 auto;
    position:relative;
    *{ position:relative }
    th {
        white-space: nowrap;
    }
    td,th { padding-left:8px;
		  padding-right:8px;}
    thead tr { 
        height:60px;
        background:#FFED86;
        font-size:16px;
    }
    tbody tr { height:48px; border-bottom:1px solid #E3F1D5 ;
        &:last-child { border:0; }
    }
        td,th { text-align:center;
            &.l { text-align:right }
            &.c { text-align:center }
            &.r { text-align:center }
	}
}


@media screen and (max-width: 35.5em) {
    table { display:block;
        > *,tr,td,th { display:block }
        thead { display:none }
        tbody tr { height:auto; padding:8px 0;
            td { padding-left:45%; margin-bottom:12px;
                &:last-child { margin-bottom:0 }
                &:before { 
                position:absolute;
                font-weight:700;
                left:10px;
                top:0
                }
            }        
        }
    }
}  	

tbody tr:hover {
    background-color: #ccc;
}

body { 
    background:#9BC86A; 
    font:400 14px 'Calibri','Arial';
}

blockquote {
    color:white;
    text-align:center;
}
