{% extends 'base.html' %}
{% block title %} Portada {% endblock %}
{% block css %}
{% endblock %}
{% block content %}
<div style="display: grid; place-items: center;">
    <h1>Índice</h1>
    <nav style="font-size:1.5em; line-height:3em; font-style:italic;">
        <a href="{{ url_for('carreras') }}">Búsqueda de carreras</a><br>
        <a href="{{ url_for('distr_genero') }}">Distribución por género</a><br>
        <a href="{{ url_for('over_thirty') }}">Personas sobre 30 años</a><br>
    </nav>
</div>
{% endblock %}
{% block javascript %}
{% endblock %}
